body{
    
    color: white;
    background: url("https://res.cloudinary.com/dkfa6gg2d/image/upload/v1666535588/Game%20folder/razer-multicolor-scatter-neon-3840x2160-432_a6ylkw.png");
    background-size: cover;
    
}
/* title of the page */
.main{
    font-family: AKRONIM REGULAR;
    font-size: 120px;
    text-align: center;
    background-color: rgb(255, 255, 255, 0.4);
    height: 150px;
    width: 1000px;
    margin-left: 280px;
    color: white;
}